# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Env and venv
.env
.venv/
venv/
ENV/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python package
dist/
build/
*.egg-info/
backend/api_key.txt
backend/geo_cache/GSE100000_series_matrix.txt.gz
backend/app/services/api_key.txt
backend/app/services/anthropic_key.txt
backend/app/services/mistral_key.txt
