# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Env and venv
.env
.venv/
venv/
ENV/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python package
dist/
build/
*.egg-info/
